<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Integral Fitness 360</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <link rel="stylesheet" href="../css/css.css">
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
          <!--1 contenedor fluido por boostrap -->
          <div class="container-fluid ">
            <a class="navbar-brand" href="#" id="imagen_nav"><img src="../images/nav360.png" alt="Integral Solution" style="margin-left: 20px;" width="90px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-bs-controls="navbarNavDropdown" aria-bs-expanded="false" aria-bs-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!--2 Contenedor de direccionamientos | elementos ha agrupar -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav" id="contextNav">
                    <li class="nav-item">
                        <a class="nav-link aNvbar linkNav" href="">Comunidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link aNvbar linkNav" href="">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link aNvbar linkNav" href="">Planes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link aNvbar linkNav" href="">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link aNvbar linkNav" href="">Ingreso</a>
                    </li>
                </ul>
            </div>
            <!-- fin2 Contenedor de direccionamientos | elementos ha agrupar -->
          </div>
          <!-- fin1 contenedor fluido por boostrap -->
        </nav>
    </div>
    <div class="container-fluid" style="margin-top: 10px; margin-bottom: 20px;">
        <div class="row col-12">
            <img src="../images/home_page1.png" class="img-fluid col-12 mx-auto" alt="Te ayudamos a lograr tus objetivos">
        </div>
        <div class="row col-11 mx-auto" style="margin-top: 30px;">
            <div class="inten_box col-3 mx-auto text-center" style="padding: 20px">
                <p class="text-center p1" style="font-size: large;">Define tu meta</p>
                <p class="col-lg-9 p1 text-center mx-auto">Crea tu meta y lograla con el acompañamiento continuo de nuestros profesionales que estan para apoyarte en tu proceso.</p>
            </div>
            <div class="inten_box2 col-3 mx-auto text-center" style="padding: 20px">
                <p class="text-center p2" style="font-size: large;">Planifica</p>
                <p class="col-lg-9 p2 text-center mx-auto">Planifica tu tiempo y rutinas, te damos la facilidad de elegir tus horarios con los profesionales cuando lo necesites.</p>
            </div>
            <div class="inten_box col-3 mx-auto text-center" style="padding: 20px">
                <p class="text-center  p1" style="font-size: large;">Seguimiento</p>
                <p class="col-lg-9 p1 text-center mx-auto">Manten con un constate monitoreo de tu proceso y evolución acorde a tus necesidades fisicas.</p>
            </div>

        </div>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="js.js"></script>
</body>
</html>