<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <title>Integral Fitness 360</title>
    <link rel="shortcut icon" href="../images/360.ico">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <link rel="stylesheet" href="../css/css.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar_360" style="padding: 0px;">
            <!--1 contenedor fluido por boostrap -->
            <div class="container-fluid ">
                <a class="navbar-brand" href="#" id="imagen_nav"><img src="../images/nav360.png" alt="Integral Solution" style="margin-left: 20px;" width="90px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-bs-controls="navbarNavDropdown" aria-bs-expanded="false" aria-bs-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--2 Contenedor de direccionamientos | elementos ha agrupar -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav" id="contextNav">
                        <!-- <li class="nav-item">
                            <a class="nav-link aNvbar linkNav" href="">Comunidad</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link aNvbar linkNav text-center" href="#nosotros_360">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link aNvbar linkNav text-center" href="#planes_360">Planes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link aNvbar linkNav text-center" href="#contactanos_360">Contacto</a>
                        </li>
                        <!-- Aqui comienza el trabajo de Samuel Quintero-->
                        <li class="boton-login aNvbar linkNav text-center aLink my-auto">
                            <label for="btn-login">
                                Ingreso
                            </label>
                        </li>
                        <!-- Aqui finaliza el trabajo de Samuel Quintero-->
                    </ul>
                </div>
                <!-- fin2 Contenedor de direccionamientos | elementos ha agrupar -->
            </div>
            <!-- fin1 contenedor fluido por boostrap -->
        </nav>
    </div>



    <div class="container-fluid" style="margin-top: 61px; margin-bottom: 20px;" data-bs-spy="scroll" data-bs-target="#navbar_360" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">

        <div class="row col-12 mx-auto">
            <img src="../images/home_page1.png" class=" col-12 mx-auto" alt="Te ayudamos a lograr tus objetivos">
        </div>
        <div class="row col-11 mx-auto" style="margin-top:5px;" id="nosotros_360">
            <div class="inten_box col-lg-3 col-md-4 col-sm-5 col-12 mx-auto text-center" style="padding: 20px;margin: 10px;">
                <p class="text-center p1" style="font-size: x-large;">Define tu meta</p>
                <p class="col-lg-9 p1 text-center mx-auto">Crea tu meta y lograla con el acompañamiento continuo de nuestros profesionales que estan para apoyarte en tu proceso.</p>
            </div>
            <div class="inten_box2 col-lg-3 col-md-4 col-sm-5 col-12 mx-auto text-center" style="padding: 20px;margin: 10px;">
                <p class="text-center p2" style="font-size: x-large;">Planifica</p>
                <p class="col-lg-9 p2 text-center mx-auto">Planifica tu tiempo y rutinas, te damos la facilidad de elegir tus horarios con los profesionales cuando lo necesites.</p>
            </div>
            <div class="inten_box col-lg-3 col-md-4 col-sm-5 col-12 mx-auto text-center" style="padding: 20px;margin: 10px;">
                <p class="text-center  p1" style="font-size: x-large;">Seguimiento</p>
                <p class="col-lg-9 p1 text-center mx-auto">Manten con un constate monitoreo de tu proceso y evolución acorde a tus necesidades fisicas.</p>
            </div>

        </div>
        <div class="row col-md-12 mx-auto" style="margin-top: 50px;">
            <div class="col-lg-4 col-md-6 col-sm-10 col-11 mx-auto text-center" style="margin-top: 20px; padding: 20px;">

                <p class="col-10 mx-auto text-center" style="font-size: 20px;margin-bottom: 10px;">
                    Somos una plataforma que reúne entrenamiento físico personalizado y planes de nutrición que permiten tener una vida saludable teniendo en cuenta tus necesidades.
                </p>
                <img src="../images/view_1.png" class="img-fluid " alt="disponibles" style="width: 400px;">

            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 col-11 mx-auto text-center" style="padding: 10px;margin-top: 20px;background-color: black;">
                <img src="../images/view_2.png" class="img-fluid " alt="disponibles" style="width: 400px; margin-top: 10px;">
                <p class="col-10 mx-auto text-center" style="font-size: 20px;margin-top: 20px; color: white;"> Puedes combinar tu entrenamiento físico personalizado y tu plan de nutrición para que de esta manera puedas evidenciar un avance más rápido de lo esperado.</p>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 col-11 mx-auto text-center" style="margin-top: 20px;padding: 10px;">

                <p class="col-10 mx-auto text-center" style="font-size: 20px;margin-bottom: 40px;"> Si solo deseas mejorar tu forma de comer, adquiere los planes de nutrición que te permitirán controlar aquellos alimentos que te gustan y te pueden hacer mal. </p>
                <img src="../images/view_3.png" class="img-fluid " alt="disponibles" style="width: 400px;">


            </div>

        </div>
        <div class="row col-10 mx-auto" style="margin-top: 50px;">
            <div class="col-lg-5 col-md-5 col-sm-8 col-11 mx-auto my-auto">
                <p class="col-12 fount1" style="font-size:70px; font-weight: bold; font-style: oblique; color: #00a7a7;">DISPONIBLE EN TODO MOMENTO</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-8 col-11 mx-auto text-center">
                <img src="../images/previews.png" class="img-fluid col-12 mx-auto" alt="disponibles" style="width: 450px;">
            </div>
        </div>

        <div class="row col-11 mx-auto" style="margin-top: 60px;" id="planes_360">
            <div class="col-12 mx-auto my-auto">
                <hr style="background-color: black; height: 7px; border-radius: 10px; color: black;" class="opacity-100">
                <p class="col-11 fount1 text-end" style="font-size:50px; font-weight: bold; font-style: oblique; color: #00a7a7;">PLANES FITNNES</p>
                <hr style="background-color: black; height: 7px; border-radius: 10px; color: black;" class="opacity-100">
            </div>

        </div>
        <div class="row col-md-9 col-sm-11 col-12 mx-auto" style="margin-top: 50px;">
            <div class="col-lg-4 col-md-6 col-sm-10 col-11 mx-auto divSeparador" style="margin-top: 20px;">
                <p class="col-12 fount1 text-center" style="font-size:40px; font-weight: bold; font-style: oblique; color: black; margin-bottom: 70px;">PLAN SPORT</p>
                <p class="col-10 mx-auto" style="font-size: 25px;margin-bottom: 30px;"> - Acceso a la plataforma.</p>
                <p class="col-10 mx-auto" style="font-size: 25px;margin-bottom: 30px;"> - Acompañamiento integral por parte de especialistas en rutinas deportivas.</p>
                <p class="col-10 mx-auto" style="font-size: 25px;margin-bottom: 30px;"> - Seguimiento de los planes deportivos dados.</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 col-11 mx-auto divSeparador" style="margin-top: 20px;">
                <p class="col-12 fount1 text-center" style="font-size:40px; font-weight: bold; font-style: oblique; color: black;margin-bottom: 70px;">PLAN HEALTH</p>
                <p class="col-10 mx-auto" style="font-size: 25px;margin-bottom: 30px;"> - Acceso a la plataforma.</p>
                <p class="col-10 mx-auto" style="font-size: 25px;margin-bottom: 30px;"> - Acompañamiento integral por parte de especialistas en nutrición.</p>
                <p class="col-10 mx-auto" style="font-size: 25px;margin-bottom: 30px;"> - Seguimiento de los planes de nutrición dados.</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 col-11 mx-auto divSeparador" style="margin-top: 20px;">
                <p class="col-12 fount1 text-center" style="font-size:40px; font-weight: bold; font-style: oblique; color: black;margin-bottom: 70px;">PLAN COMPLETE</p>
                <p class="col-10 mx-auto" style="font-size: 25px;margin-bottom: 30px;"> - Acceso a la plataforma.</p>
                <p class="col-10 mx-auto" style="font-size: 25px;margin-bottom: 30px;"> - Acompañamiento integral por parte de especialistas en rutinas deportivas.</p>
                <p class="col-10 mx-auto" style="font-size: 25px;margin-bottom: 30px;"> - Acompañamiento integral por parte de especialistas en nutrición.</p>
                <p class="col-10 mx-auto" style="font-size: 25px;margin-bottom: 30px;"> - Seguimiento de los planes deportivos y de nutrición dados.</p>
            </div>

        </div>
        <div class="row col-9 mx-auto" style="margin-top: 50px;">
            <button type="submit" class="col-lg-3 col-md-4 col-sm-5 col-8 button1 mx-auto" style="padding: 10px; font-weight: bold; margin-bottom: 30px;" title="Únete a 360">Únete</button>
        </div>
        <div class="col-12 row mx-auto" style="background-color: #012626;" style="margin-top: 50px;padding-bottom: 50px;" id="contactanos_360">
            <p class="col-11 fount1 mx-auto" style="font-size:70px; font-weight: bold; font-style: oblique; color: #00a7a7; margin-top: 30px; margin-bottom: 0px;">CONTACTANOS</p>
            <hr style="background-color: white; height: 7px; border-radius: 10px; color: white;" class="col-11 mx-auto opacity-100">
            <div class="col-12 mx-auto row">
                <div class="col-lg-5 col-md-5 col-sm-8 col-11">
                    <p class="col-11 fount1 mx-auto text-center" style="font-size:30px; font-weight: bold; color: white; margin-top: 70px; margin-bottom: 0px;">Siguenos en nuestras redes sociales.</p>

                    <div class="col-12 text-center mx-auto" style=" margin-top: 20px;">

                        <a target="_blank" href="https://www.instagram.com/integralfitness360/" class="col-3 mx-auto text-center" style="margin:9px;"><img src="../images/instagram.png" class="img-fluid " alt="disponibles" style="width: 80px;"></a>
                        <a target="_blank" href="https://www.facebook.com/profile.php?id=100086778966106" class="col-3 mx-auto text-center" style="margin:9px;"><img src="../images/facebook.png" class="img-fluid " alt="disponibles" style="width: 80px;"></a>
                        <a target="_blank" href="https://www.tiktok.com/@integralfitness360" class="col-3 mx-auto text-center" style="margin:9px;"><img src="../images/tiktok.png" class="img-fluid " alt="disponibles" style="width: 80px;"></a>
                    </div>


                </div>
                <div class="col-lg-7 col-md-7 col-sm-8 col-11">
                    <p class="col-12 fount1 mx-auto text-center" style="font-size:45px; font-weight: bold; font-style: oblique; color: white; margin-top: 60px; margin-bottom: 0px;">
                        " Aunque nadie puede volver atrás y hacer un nuevo comienzo, cualquiera puede comenzar a partir de ahora y crear un nuevo final."
                    </p>
                    <p class="col-11 fount1 mx-auto text-center" style="font-size:40px; font-weight: bold; font-style: oblique; color: #00a7a7;">Carl Bard</p>
                </div>
            </div>

        </div>

    </div>

    <!-- Aqui comienza el trabajo de Samuel Quintero-->
    <!-- Ventana modal de login -->
    <input type="checkbox" id="btn-login">
    <div class="container-login">
        <div class="content-login">
            <div class="x"><label for="btn-login">X</label></div>
            <h2>
                Inicio de sesión
            </h2>
            <div class="col-11 mx-auto text-center" style="margin: 40px; padding: 15px 0px; border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb;">
                <label id="correo" class="col-10">Usuario</label><br>
                <input class="col-8 input" type="email" id="correoUsuario" autocomplete="off" placeholder="Email"><br>
                <label class="col-10" id="pass" style="margin-top:15px;">Contraseña</label><br>
                <input class="col-8 input" type="password" id="password" autocomplete="off" placeholder="Password">
                <br> <br> <button type="submit" value="Ingresar" onclick="ingresar()" class="col-4 aNvbar linkNav text-center aLink my-auto" style="margin: 7px; padding: 7px;">Ingresar</button>
            </div>
            <div class="login-registrar">
                <label for="btn-login" data-bs-toggle="modal" data-bs-target="#planes360">Registrarse</label>
            </div>
        </div>
    </div>
    <!-- Aqui finaliza el trabajo de Samuel Quintero-->

    <!--Ventana modal de Registro -->
    <div class="modal fade" id="planes360" tabindex="-1" aria-labelledby="planes360Label" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="planes360Label" style="font-size: 25px; font-weight: bold; margin-left: 9px;">REGISTRO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h5 style="font-size: 21px; color: black;">DATOS PERSONALES</h5>
                  <form>
                    <div class="row">
                      <div class="col-lg-3">
                        <label for="inputTipoDocumentoIdentidad" class="p3">TIPO DE DOCUMENTO DE IDENTIDAD</label>
                      </div>
                      <div class="col-lg-3">
                        <select id="inputTipoDocumentoIdentidad" class="form-select text-center" required="">
                          <option selected>-Seleccionar-</option>
                          <option>Cédula de ciudadania</option>
                          <option>Cédula de extranjería</option>
                          <option>Pasaporte</option>
                        </select>
                      </div>
                      <div class="col-lg-3">
                        <label for="inputNumeroIdentidad" style="margin-left: 60px; margin-bottom: 10px;" class="p3">NÚMERO DE DOCUMENTO DE IDENTIDAD</label>
                      </div>
                      <div class="col-lg-3">
                        <input type="number" class="form-control" id="inputNumeroIdentidad" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3" style="margin-bottom: 15px">
                        <label for="inputNombre" style="margin-top: 8px;" class="p3">NOMBRE</label>
                      </div>
                      <div class="col" style="margin-bottom: 15px">
                        <input type="text" class="form-control" id="inputNombre" required>
                      </div>
                      <div class="col-lg-3" style="margin-bottom: 15px">
                        <label for="inputApellidos" style="margin-left: 60px; margin-top: 8px;" class="p3">APELLIDOS</label>
                      </div>
                      <div class="col" style="margin-bottom: 15px">
                        <input type="text" class="form-control" id="inputApellidos" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3">
                        <label for="inputUsuario" style="margin-top: 8px;" class="p3">E-MAIL - USUARIO</label>
                      </div>
                      <div class="col">
                        <input type="email" class="form-control" id="inputUsuario" placeholder="example@mail.com" required>
                      </div>
                      <div class="col-lg-3">
                        <label for="inputPassword" style="margin-left: 60px; margin-top: 8px;" class="p3">CONTRASEÑA</label>
                      </div>
                      <div class="col">
                        <input type="password" class="form-control" id="inputPassword" required>
                      </div>
                    </div>
                    <div style="margin-top: 25px;">
                      <label for="textAreaLimitaciones" style="font-weight: bold; margin-bottom: 15px;">CARACTERISTICAS ESPECIALES A TENER EN CUENTA</label>
                      <textarea class="form-control" id="textAreaLimitaciones" rows="3" placeholder="Describir dolencias que no le permitan realizar algunos movimientos, o ejercicios que no pueda realizar." required></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="button3">Registrarse</button>
                </div>
            </div>
        </div>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="../js/homePage.js"></script>
</body>
</html>