<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <title>Integral Fitness 360</title>
    <link rel="shortcut icon" href="../images/360.ico">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <link rel="stylesheet" href="../css/css.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar_360" style="padding: 0px;">
            <!--1 contenedor fluido por boostrap -->
            <div class="container-fluid ">
                <a class="navbar-brand" href="index.html" id="imagen_nav"><img src="../images/nav360.png" alt="Integral Solution" style="margin-left: 20px; width:90px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-bs-controls="navbarNavDropdown" aria-bs-expanded="false" aria-bs-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--2 Contenedor de direccionamientos | elementos ha agrupar -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav" id="contextNav">
                        <!-- <li class="nav-item">
                            <a class="nav-link aNvbar linkNav" href="">Comunidad</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link aNvbar linkNav text-center" href="index.html#nosotros_360">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link aNvbar linkNav text-center" href="index.html#planes_360">Planes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link aNvbar linkNav text-center" href="index.html#contactanos_360">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link aNvbar aLink linkNav text-center" href="#" data-bs-toggle="modal" data-bs-target="#login">Ingresar</a>
                        </li>
                    </ul>
                </div>
                <!-- fin2 Contenedor de direccionamientos | elementos ha agrupar -->
            </div>
            <!-- fin1 contenedor fluido por boostrap -->
        </nav>
    </div>



    <div class="container-fluid" style="margin-top: 61px; margin-bottom: 20px;" data-bs-spy="scroll" data-bs-target="#navbar_360" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">

        <div class="col-11 mx-auto">
            <h1 style="color: #04BFBF; font-size: 40px;">REGISTRO DE MEDIO DE PAGO (DEMO)</h1>
            <form>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="itarjeta" style=" margin-bottom: 16px; margin-top: 16px; " class="p3 col-lg-6">NÚMERO DE TARJETA</label>
                                <input type="number" class="form-control col-lg-4" id="itarjeta" style=" margin-bottom: 16px;" required>
                                <a class="" href="#" id="imagen_nav"><img src="../images/payment_cards.png" style="width: 225px"></a>
                            </div>
                            <div class="col-lg-3">
                                <label style="margin-bottom: 16px; margin-top: 16px; " class="p3 col-lg-8">FECHA DE EXPIRACIÓN</label>
                                <input id="ifecha" type="month" class="form-select text-center col" style="margin-bottom: 16px; " required="">
                            </div>
                            <div class="col-lg-3">
                                <label for="icodigoseguridad" style="margin-bottom: 16px; margin-top: 16px; " class="p3 col-lg-10">CÓDIGO DE SEGURIDAD</label>
                                <input type="number" class="form-control col-lg-4" id="icodigoseguridad" style=" margin-bottom: 16px;" required>
                            </div>
                        </div>

                        <h1 style="color: #04BFBF; font-size: 25px; margin-top: 25px; margin-bottom: 20px">INFORMACIÓN DE FACTURACIÓN</h1>

                        <div class="row">
                            <div class="col-lg-2" style="margin-bottom: 15px">
                                <label for="inputNombre2" style="margin-top: 8px;" class="p3">NOMBRE</label>
                            </div>
                            <div class="col" style="margin-bottom: 15px">
                                <input type="text" class="form-control" id="inputNombre2" style="" margin-bottom: 16px;" required>
                            </div>
                            <div class="col-lg-2" style="margin-bottom: 15px">
                                <label for="inputApellidos2" style="margin-top: 8px;" class="p3">APELLIDOS</label>
                            </div>
                            <div class="col" style="margin-bottom: 15px">
                                <input type="text" class="form-control" id="inputApellidos2" style="" margin-bottom: 16px;" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2" style="margin-bottom: 15px">
                                <label for="iciudad" style="margin-top: 8px;" class="p3">CIUDAD</label>
                            </div>
                            <div class="col" style="margin-bottom: 15px">
                                <input type="text" class="form-control" id="iciudad" style="" margin-bottom: 16px;" required>
                            </div>
                            <div class="col-lg-2" style="margin-bottom: 15px">
                                <label for="ipais" style="margin-top: 8px;" class="p3">PAÍS</label>
                            </div>
                            <div class="col" style="margin-bottom: 15px">
                                <input type="text" class="form-control" id="ipais" style="" margin-bottom: 16px;" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-5" style="margin-bottom: 15px">
                                <label for="idireccion" style=" margin-top: 8px;" class="p3">DIRECCIÓN DE FACTURACIÓN</label>
                            </div>
                            <div class="col-lg-7" style="margin-bottom: 15px">
                                <input type="text" class="form-control" id="idireccion" style="" margin-bottom: 16px;" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2" style="margin-bottom: 15px">
                                <label for="ipostal" style="margin-top: 8px;" class="p3">CODIGO POSTAL</label>
                            </div>
                            <div class="col" style="margin-bottom: 15px">
                                <input type="text" class="form-control" id="ipostal" style="" margin-bottom: 16px;" required>
                            </div>
                            <div class="col-lg-2" style="margin-bottom: 15px">
                                <label for="itelefono" style="margin-top: 8px;" class="p3">TELEFONO</label>
                            </div>
                            <div class="col" style="margin-bottom: 15px">
                                <input type="tel" class="form-control" id="itelefono" style="" margin-bottom: 16px;" required>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-3" style="background-color: lightgrey; border-radius: 25px; height: 450px;" onload="recibir()">
                        <h3 class="text-center" style="margin-top: 10px">Resumen de compra</h3>
                        <button type="button" class="button1 text-center justify-content-end" style="margin-top: 10px; margin-bottom: 10px; width: 100%;  height: 40px;" onclick="limpiar()" data-bs-toggle="modal" data-bs-target="#planes360">Opciones</button>
                        <div style="background-color: white; border-radius: 10px">
                            <label id="planElegido" style="margin-left: 10px"></label><br />
                            <label id="planCosto" style="margin-left: 10px"></label><br />
                            <label id="planDuracion" style="margin-left: 10px"></label>
                        </div>

                        <div>
                            <button type="submit" class="button3 text-center" style="margin-top: 10px; margin-bottom: 10px; width: 100%; height: 40px; " onclick="mediopago()">Agregar medio de pago</button>
                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>

    <!-- Ventana modal de login -->
    <div class="modal fade" id="login" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginLabel" style="font-size: 25px; font-weight: bold; margin-left: 9px;">INICIAR SESIÓN</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-11 mx-auto text-center">
                        <label id="correo" class="col-10">Usuario</label><br>
                        <input class="col-8 input" type="email" id="correoUsuario" autocomplete="off" placeholder="Email"><br>
                        <label class="col-10" id="pass" style="margin-top:15px;">Contraseña</label><br>
                        <input class="col-8 input" type="password" id="password" autocomplete="off" placeholder="Password">
                        <br> <br> <button type="submit" value="Ingresar" onclick="ingresar()" class="col-4 aNvbar linkNav text-center aLink my-auto" style="margin: 7px; padding: 7px;">Ingresar</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="button3" data-bs-toggle="modal" data-bs-target="#registrarse">Registrarse</button>
                </div>
            </div>
        </div>
    </div>

    <!--Ventana modal de Registro -->
    <div class="modal fade" id="registrarse" tabindex="-1" aria-labelledby="registrarseLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registrarseLabel" style="font-size: 25px; font-weight: bold; margin-left: 9px;">REGISTRO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 style="font-size: 21px; color: black;">DATOS PERSONALES</h5>
                    <form>
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="inputTipoDocumentoIdentidad" style="margin-left: 10px; margin-bottom: 16px; margin-top: 8px; " class="p3">DOCUMENTO DE IDENTIDAD</label>
                            </div>
                            <div class="col-sm-3">
                                <select id="inputTipoDocumentoIdentidad" class="form-select text-center" style=" margin-bottom: 16px;" required="">
                                    <option selected></option>
                                    <option>Cédula de ciudadania</option>
                                    <option>Cédula de extranjería</option>
                                    <option>Pasaporte</option>
                                </select>
                            </div>
                            <div class="col-sm">
                                <input type="number" class="form-control" id="inputNumeroIdentidad" style=" margin-bottom: 16px;" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2" style="margin-bottom: 15px">
                                <label for="inputNombre" style="margin-left: 10px; margin-top: 8px;" class="p3">NOMBRE</label>
                            </div>
                            <div class="col" style="margin-bottom: 15px">
                                <input type="text" class="form-control" id="inputNombre" style="" margin-bottom: 16px;" required>
                            </div>
                            <div class="col-lg-2" style="margin-bottom: 15px">
                                <label for="inputApellidos" style="margin-left: 10px; margin-top: 8px;" class="p3">APELLIDOS</label>
                            </div>
                            <div class="col" style="margin-bottom: 15px">
                                <input type="text" class="form-control" id="inputApellidos" style="" margin-bottom: 16px;" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2" style="margin-bottom: 15px">
                                <label for="inputUsuario" style="margin-left: 10px; margin-top: 8px;" class="p3">E-MAIL</label>
                            </div>
                            <div class="col" style="margin-bottom: 15px">
                                <input type="email" class="form-control" id="inputUsuario" style="" margin-bottom: 16px;" placeholder="example@mail.com" required>
                            </div>
                            <div class="col-lg-2" style="margin-bottom: 15px">
                                <label for="inputPassword" style="margin-left: 10px; margin-top: 8px;" class="p3">CONTRASEÑA</label>
                            </div>
                            <div class="col" style="margin-bottom: 15px">
                                <input type="password" class="form-control" id="inputPassword" style="" margin-bottom: 16px;" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <label for="inputAltura" style="margin-left: 10px; margin-bottom: 16px; margin-top: 8px; " class="p3">ALTURA</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="number" class="form-control" id="inputAltura" style=" margin-bottom: 16px;" min="0.7" max="2.5" required>
                            </div>
                            <div class="col-sm-2">
                                <label for="inputEdad" style="margin-left: 10px; margin-bottom: 16px; margin-top: 8px; " class="p3">EDAD</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="number" class="form-control" id="inputEdad" style=" margin-bottom: 16px;" min="12" max="110" step="1" required>
                            </div>
                            <div class="col-sm-2">
                                <label for="inputGenero" style="margin-left: 10px; margin-bottom: 16px; margin-top: 8px; " class="p3">GENERO</label>
                            </div>
                            <div class="col-sm-2">
                                <select id="inputGenero" class="form-select text-center" style=" margin-bottom: 16px;" required="">
                                    <option selected></option>
                                    <option>H</option>
                                    <option>M</option>
                                    <option>Otro</option>
                                </select>
                            </div>
                        </div>

                        <div style="margin-top: 25px;">
                            <label for="textAreaLimitaciones" style="font-weight: bold; margin-bottom: 15px;">CARACTERISTICAS ESPECIALES A TENER EN CUENTA</label>
                            <textarea class="form-control" id="textAreaLimitaciones" rows="3" placeholder="Describir dolencias que no le permitan realizar algunos movimientos, o ejercicios que no pueda realizar." required></textarea>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="button3" onclick="registrar()">Registrarse</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Ventana modal de planes -->
    <div class="modal fade" id="planes360" tabindex="-1" aria-labelledby="planes360Label" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="planes360Label" style="font-size: 25px; font-weight: bold; margin-left: 9px;">ÚNETE A NUESTRA FAMILIA</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                <p class="p3" style="font-size: 21px;">PLAN</p>
                            </div>
                            <div class="col-lg-6 text-center">
                                <p class="p3" style="font-size: 21px;">DURACIÓN</p>
                            </div>
                            <div class="col-lg-3 text-center">
                                <p class="p3" style="font-size: 21px;">COSTO</p>
                            </div>
                            <div class="col"></div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-lg-3 text-center">
                                <p class="p4" style="font-size: 15px;">PLAN SPORT</p>
                            </div>
                            <div class="col-lg-6">
                                <div class="row text-center">
                                    <div class="col-lg-4" style="margin-bottom: 10px">
                                        <!--<p class="p5" style="font-weight: bold;">1 mes</p>-->
                                        <button id="bs1" class="btn btn-info button2" style="font-weight: bold; font-size: 10px; width: 70px" onclick="selectS(this, '$10.000', '1 mes')">1 mes</button>
                                    </div>
                                    <div class="col-lg-4" style="margin-bottom: 10px">
                                        <!--<p class="p5" style="font-weight: bold;">6 meses</p>-->
                                        <button id="bs2" class="btn btn-info button2" style="font-weight: bold; font-size: 10px; width: 70px" onclick=" selectS(this, '$50.000', '6 meses')">6 meses</button>
                                    </div>
                                    <div class="col-lg-4" style="margin-bottom: 10px">
                                        <!--<p class="p5" style="font-weight: bold;">1 año</p>-->
                                        <button id="bs3" class="btn btn-info button2" style="font-weight: bold; font-size: 10px; width: 70px" onclick=" selectS(this, '$100.000', '1 año')">1 año</button>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center col-lg-3">
                                <label id="pSport"></label>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-lg-3 text-center">
                                <p class="p4" style="font-size: 15px;">PLAN HEALTH</p>
                            </div>
                            <div class="col-lg-6">
                                <div class="row text-center">
                                    <div class="col-lg-4" style="margin-bottom: 10px">
                                        <!--<p class="p5" style="font-weight: bold;">1 mes</p>-->
                                        <button id="bh1" class="btn btn-info button2" style="font-weight: bold; font-size: 10px; width: 70px" onclick="selectH(this, '$10.000', '1 mes')">1 mes</button>
                                    </div>
                                    <div class="col-lg-4" style="margin-bottom: 10px">
                                        <!--<p class="p5" style="font-weight: bold;">6 meses</p>-->
                                        <button id="bh2" class="btn btn-info button2" style="font-weight: bold; font-size: 10px; width: 70px" onclick="selectH(this, '$50.000', '6 meses')">6 meses</button>
                                    </div>
                                    <div class="col-lg-4" style="margin-bottom: 10px">
                                        <!--<p class="p5" style="font-weight: bold;">1 año</p>-->
                                        <button id="bh3" class="btn btn-info button2" style="font-weight: bold; font-size: 10px; width: 70px" onclick="selectH(this, '$100.000', '1 año')">1 año</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center col-lg-3">
                                <label id="pHealth"></label>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-lg-3 text-center">
                                <p class="p4" style="font-size: 15px;">PLAN COMPLETE</p>
                            </div>
                            <div class="col-lg-6">
                                <div class="row text-center">
                                    <div class="col-lg-4" style="margin-bottom: 10px">
                                        <!--<p class="p5" style="font-weight: bold;">1 mes</p>-->
                                        <button id="bc1" class="btn btn-info button2" style="font-weight: bold; font-size: 10px; width: 70px;" onclick="selectC(this, '$15.000', '1 mes')">1 mes</button>
                                    </div>
                                    <div class="col-lg-4" style="margin-bottom: 10px">
                                        <!--<p class="p5" style="font-weight: bold;">6 meses</p>-->
                                        <button id="bc2" class="btn btn-info button2" style="font-weight: bold; font-size: 10px; width: 70px;" onclick="selectC(this, '$75.000', '6 meses')">6 meses</button>
                                    </div>
                                    <div class="col-lg-4" style="margin-bottom: 10px">
                                        <!--<p class="p5" style="font-weight: bold;">1 año</p>-->
                                        <button id="bc3" class="btn btn-info button2" style="font-weight: bold; font-size: 10px; width: 70px;" onclick="selectC(this, '$120.000', '1 año')">1 año</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center col-lg-3">
                                <label id="pComplete"></label>
                            </div>
                        </div>

                        <hr>

                        <h5 class="text-center">Plan Seleccionado</h5>
                        <div class="row">
                            <label class="col-lg-4 text-center" id="pEl"></label>
                            <label class="col-lg-4 text-center" id="pCo"></label>
                            <label class="col-lg-4 text-center" id="pDu"></label>
                        </div>
                        <div class="text-center">
                            <button type="button" class="button3" style="margin-top:20px; margin-bottom:10px" onclick="transfer('XD','XD','XD')" data-bs-toggle="modal" data-bs-target="#planes360">Confirmar</button>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="../js/homePage.js"></script>
    <script src="../js/payments.js"></script>
</body>
</html>